VITE_API_BASE=http://localhost:8000/api
VITE_WS_UPLOAD_URL=ws://localhost:8000/ws/upload-audio
VITE_WS_TEXT_URL=ws://localhost:8000/ws/asr-text
VITE_WS_TTS_URL=ws://localhost:8000/ws/tts-audio
VITE_USE_LOCAL_SPEECH=0
