DATABASE_URL=postgres://postgres:postgre@127.0.0.1:5432/fat
ENV=dev
JWT_SECRET=ChangeThisToARealSecret_123456
ACCESS_TOKEN_EXPIRE_MINUTES=60

WHISPER_API_URL=https://api.openai.com/v1/audio/transcriptions
WHISPER_MODEL=whisper-1
OPENAI_API_KEY=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

ELEVENLABS_API_KEY=sk_e64568fcb4420c9e1f4fa6de905a96aca6face4d2087fdf3
# 可先留空，先用默认voice跑通；之后到 ElevenLabs 控制台把不同口音的 voice_id 填进来
VOICE_ID_AMERICAN=21m00Tcm4TlvDq8ikWAM
VOICE_ID_AUSTRALIA=21m00Tcm4TlvDq8ikWAM
VOICE_ID_BRITISH=21m00Tcm4TlvDq8ikWAM
VOICE_ID_CHINESE=21m00Tcm4TlvDq8ikWAM
VOICE_ID_INDIA=21m00Tcm4TlvDq8ikWAM

# VOICE_ID_AMERICAN=EXAVITQu4vr4xnSDxMaL
# VOICE_ID_AUSTRALIA=IKne3meq5aSn9XLyUdCD
# VOICE_ID_BRITISH=JBFqnCBsd6RMkjVDRZzb
# VOICE_ID_CHINESE=hkfHEbBvdQFNX4uWHqRF
# VOICE_ID_INDIA=kL06KYMvPY56NluIQ72m

HOST=0.0.0.0
PORT=8000